.ann-background {
 
  height: 100vh;
  width: 100vw;
  background-image: url('/ann-background.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

}

.myacc-background {
  height: 100vh;
  width: 100vw;
  background-image: url('/myacc-background.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.ann-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  color: #ffffff;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
}

.ann-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: white;
}

.ann-img {
  display: block;
  margin: 1rem auto;
  max-width: 300px;
  width: 100%;
  border: 2px solid #ac6d38;
  border-radius: 12px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.12);
}


.ann-text {
  font-size: 1rem;
  margin: 1rem 0;
  text-align: center;
  color: white;
}

.ann-infolist {
  margin-top: 1rem;
  padding-left: 1.5rem;
  font-size: 0.95rem;
  line-height: 1.6;
}

.ann-infolist li::before {
  color: #4f46e5;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.ann-button {
  background-color: #ac6d38;
  color: black;
  border: 3px solid black;
  padding: 0.6rem 1rem;
  font-size: 1.3rem;
  width: 300px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
  margin: 1rem auto;
  text-align: center;
  text-decoration: none; 
}

.post-ann-button {
  background-color: black;
  color: white;
  border: 2px solid #ac6d38;
  padding: 0.6rem 1.4rem; 
  font-size: 1.3rem;
  width: 300px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
  margin: 1rem auto;
  text-align: center;
  text-decoration: none;
}

.ann-button:hover {
  background-color: #c97f43;
  border-color: #333;
  color: #333;
}

.post-ann-button:hover {
  background-color: #ac6d38;
  border-color: black;
  color: black;
}

@media (max-width: 600px) {
  .ann-container {
    padding: 1.5rem;
  }

  .ann-title {
    font-size: 1.4rem;
  }

  .ann-button {
    font-size: 0.85rem;
    padding: 0.5rem 1.2rem;
  }
}
